*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    background-color: #374151;
}

header{
    background-color: #115C7C;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 353px ;
    height: 70px;
}

.tags{
    display: flex;
    align-items: center;
    color: aliceblue;
    margin: 10px;
    gap: 120px;
}

.empresa{
    display: flex;
    align-items: center;
    width: 1717p;
    height: 23;
}

.img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.fala{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
    padding: 30px;
    width: 30%;
    height: auto;
}

.Enviar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 100px;
}

.Casa{
    padding: 0% 12% 0% 0%;
}

.main-div-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}