*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #115C7C;
    display: flex;
    justify-content: space-between;

}

.logo{
    width: 353px ;
    height: 70px;
}

.tags{
    display: flex;
    align-items: center;
    color: aliceblue;
    margin: 10px;
    gap: 120px;
}

.empresa{
    display: flex;
    align-items: center;
    width: 1717p;
    height: 23;
}

main{
    background-color: #374151;
}

.img{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 100%;
    object-fit: contain;
    height: auto;
    
}

.Casa{
    display: flex;
    justify-content: flex-end;
    align-items: ;

    box-sizing: border-box;
    background-color: aqua;

}

.fala{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
    padding: 30px;
    width: 30%;
    height: auto;
}

.Enviar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 100px;
}
